<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.oceanapp.ocean">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".preBlockActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".OceanMain"
            android:label="@string/title_activity_ocean_main"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".blockService"
            android:enabled="true"
            android:exported="true"
            android:persistent="true" />

        <activity
            android:name=".blockActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".statisticsActivity"
            android:label="@string/title_activity_statistics"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".aboutActivity"
            android:label="@string/title_activity_about"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>